<!DOCTYPE html>
<html lang = "en">
  <head>
      <title>Stalker</title>
      <link href = "/static/bootstrap.min.css" rel = "stylesheet">
      <link href = "/static/jumbotron-narrow.css" rel = "stylesheet">
  </head>

  <body>
    <div class = "container">
      <div class = "header">
        <nav>
          <ul class = "nav nav-pills pull-right">
            <li role = "presentation" class="active"><a href = "home">Home</a></li>
            <li role = "presentation"><a href = "query">Query</a></li>
            <li role = "presentation"><a href = "aboutus">About Us</a></li>
          </ul>
        </nav>
        <h1 class = "text-muted"><a href = "#">Stalker</a></h1>
      </div>

      <div class = "jumbotron">
        <div class = "row marketing">
          <div class = "col-lg-6">
            <h2>Introduction</h2>
            <p>Stalker is a portal for finding Github profiles of people related on the basis of organisations.</p>
          </div>
        </div>
      </div>

      <footer class="footer">
          <p>&copy; Zense 2017</p>
      </footer>
    </div>
  </body>

</html>
