<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Stalker</title>
  <link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon.ico')}}">
  <link href = "/static/bootstrap.min.css" rel = "stylesheet">
  <link href = "/static/jumbotron-narrow.css" rel = "stylesheet">
  <script type = "text/javascript" src = "/static/utility.js"></script>
  <style>
  #loading {
      width: 35px;
      height: 35px;
      display: none;
      cursor: wait;
      }
  </style>
</head>
<body>
  <div id="loading">
    <img src="./static/loadingimage.gif" style="position : absolute; left:150px;bottom:205px;">
  </div>
  <div class = "container" id = "container">
    <div class = "header">
      <nav>
        <ul class = "nav nav-pills pull-right">
          <li role = "presentation"><a href="home">Home</a></li>
          <li role = "presentation" class = "active"><a href = "#">Query</a></li>
          <li role = "presentation"><a href ="aboutus">About Us</a></li>
        </ul>
      </nav>
      <h1 class = "text-muted">
        <a href = "home">Stalker</a>
      </h1>
    </div>
    <div class = "jumbotron">
      <div class = "row marketing">
        <h2>Query</h2>
        <form class = "form-inline" action = {{url_for('query')}} method = 'post'>
          <div class = "form-group">
            <input type = "text" class = "form-control" name = "organisation" id = "organisation" placeholder = "Organisation">
          </div>
          <input type = "submit" class = "btn-primary" onClick="loading();alert_query_will_be_submitted()">
        </form>
      </div>
    </div>
    <style type="text/css">
    table {
      border-collapse: separate;
      border-spacing: 50px 0;
    }
    </style>
<table>
<thead><tr><th>Name</th><th>Github Username</th><th>Link</th></tr></thead>
<tbody>
<tr><td>Raghavan099</td><td>/Raghavan099</td><td>https://github.com/Raghavan099</td></tr>
</tbody>
</table>      <footer class="footer">
        <p>&copy; Zense 2017</p>
      </footer>
    </div>
  </body>
</html>
