<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Stalker</title>
  <link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon.ico')}}">
  <link href = "/static/bootstrap.min.css" rel = "stylesheet">
  <link href = "/static/jumbotron-narrow.css" rel = "stylesheet">
  <script type = "text/javascript" src = "/static/utility.js"></script>
  <style>
  #loading {
      width: 35px;
      height: 35px;
      display: none;
      cursor: wait;
      }
  </style>
</head>
<body>
  <div id="loading">
    <img src="./static/loadingimage.gif" style="position : absolute; left:150px;bottom:205px;">
  </div>
  <div class = "container" id = "container">
    <div class = "header">
      <nav>
        <ul class = "nav nav-pills pull-right">
          <li role = "presentation"><a href="home">Home</a></li>
          <li role = "presentation" class = "active"><a href = "#">Query</a></li>
          <li role = "presentation"><a href ="aboutus">About Us</a></li>
        </ul>
      </nav>
      <h1 class = "text-muted">
        <a href = "home">Stalker</a>
      </h1>
    </div>
    <div class = "jumbotron">
      <div class = "row marketing">
        <h2>Query</h2>
        <form class = "form-inline" action = {{url_for('query')}} method = 'post'>
          <div class = "form-group">
            <input type = "text" class = "form-control" name = "organisation" id = "organisation" placeholder = "Organisation">
          </div>
          <input type = "submit" class = "btn-primary" onClick="loading();alert_query_will_be_submitted()">
        </form>
      </div>
    </div>
    <style type="text/css">
    table {
      border-collapse: separate;
      border-spacing: 50px 0;
    }
    </style>
<table>
<thead><tr><th>Name</th><th>Github Username</th><th>Link</th></tr></thead>
<tbody>
<tr><td>Vinay C K</td><td>/7andahalf</td><td>https://github.com/7andahalf</td></tr>
<tr><td>Abhiramon</td><td>/Abhiramon</td><td>https://github.com/Abhiramon</td></tr>
<tr><td>Aditya Shridhar Hegde</td><td>/adishegde</td><td>https://github.com/adishegde</td></tr>
<tr><td>Aditya Thiruvengadam</td><td>/adityathiru</td><td>https://github.com/adityathiru</td></tr>
<tr><td>Amit Tomar</td><td>/Amit-Tomar</td><td>https://github.com/Amit-Tomar</td></tr>
<tr><td>Anshul Gupta</td><td>/Anshul-Gupta24</td><td>https://github.com/Anshul-Gupta24</td></tr>
<tr><td>Anubhav Bhardwaj</td><td>/anubhav3itb</td><td>https://github.com/anubhav3itb</td></tr>
<tr><td>Gaurav Koley</td><td>/arkokoley</td><td>https://github.com/arkokoley</td></tr>
<tr><td>Gopalakrishnan.V</td><td>/gopuvenkat</td><td>https://github.com/gopuvenkat</td></tr>
<tr><td>Pratik Shastri</td><td>/gotthespirit</td><td>https://github.com/gotthespirit</td></tr>
<tr><td>Harika Rajavaram</td><td>/harikarajavaram</td><td>https://github.com/harikarajavaram</td></tr>
<tr><td>Sudharsanaraj R</td><td>/jujusudhur</td><td>https://github.com/jujusudhur</td></tr>
<tr><td>Kaushik Ranjan</td><td>/kaushikranjan</td><td>https://github.com/kaushikranjan</td></tr>
<tr><td>Shivam Kumar</td><td>/kumarshivam675</td><td>https://github.com/kumarshivam675</td></tr>
<tr><td>Pranav Vardia</td><td>/pranavvardia</td><td>https://github.com/pranavvardia</td></tr>
<tr><td>Rahul Rachuri</td><td>/RahulRachuri</td><td>https://github.com/RahulRachuri</td></tr>
<tr><td>Satvik Ramaprasad</td><td>/satu0king</td><td>https://github.com/satu0king</td></tr>
<tr><td>shivamkumarsingh114</td><td>/shivamkumarsingh114</td><td>https://github.com/shivamkumarsingh114</td></tr>
<tr><td>Shreyak Upadhyay</td><td>/shreyakupadhyay</td><td>https://github.com/shreyakupadhyay</td></tr>
<tr><td>Siddhesh Dosi</td><td>/siddhdosi</td><td>https://github.com/siddhdosi</td></tr>
<tr><td>Suprgya Bhushan</td><td>/suprgyabhushan</td><td>https://github.com/suprgyabhushan</td></tr>
<tr><td>Tanya Shrivastava</td><td>/Tanya05</td><td>https://github.com/Tanya05</td></tr>
<tr><td>Tarun D</td><td>/tarund1996</td><td>https://github.com/tarund1996</td></tr>
<tr><td>Udit Jindal</td><td>/ud-jindal</td><td>https://github.com/ud-jindal</td></tr>
<tr><td>Vibhav Agarwal</td><td>/vibhavagarwal5</td><td>https://github.com/vibhavagarwal5</td></tr>
<tr><td>Vikas Yadav</td><td>/vik-y</td><td>https://github.com/vik-y</td></tr>
<tr><td>Vishesh Ruparelia</td><td>/visheshruparelia</td><td>https://github.com/visheshruparelia</td></tr>
<tr><td>vivek yadav</td><td>/vivekprocoder</td><td>https://github.com/vivekprocoder</td></tr>
<tr><td>Sanyam Jain</td><td>/xerosanyam</td><td>https://github.com/xerosanyam</td></tr>
<tr><td>Zense-Dev</td><td>/zense-dev</td><td>https://github.com/zense-dev</td></tr>
</tbody>
</table>      <footer class="footer">
        <p>&copy; Zense 2017</p>
      </footer>
    </div>
  </body>
</html>
